In [2]:
import os
os.chdir("/home/ubuntu/Scripts/s3_mount/Experiments/20241008_MoA1008_Alithea_Brb_insects/STAR/L200924SB02_02_CountTables")

In [3]:
import glob
matrix_no_deduplicated = glob.glob("umiDedup-NoDedup.mtx")
matrix_deduplicated = glob.glob("umiDedup-1MM_All.mtx")

In [4]:
from scipy.io import mmread
import pandas as pd

In [7]:
df_dedup = pd.DataFrame.sparse.from_spmatrix(mmread(matrix_deduplicated[0]))
df_no_dedup = pd.DataFrame.sparse.from_spmatrix(mmread(matrix_no_deduplicated[0]))

In [8]:
df_dedup

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0,0,3,16,4,5,4,19,1,9,...,3,0,0,5,12,4,4,1,5,4
1,0,0,0,1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,13,1,1,0,0,0,0,1,0,...,0,0,3,9,0,1,0,1,0,0
4,0,28,0,0,0,0,1,1,0,1,...,1,0,8,12,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16779,1,13,78,1020,31,102,35,43,33,23,...,9,97,61,3,1431,19,102,17,43,18
16780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16782,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16783,2,3,2,90,117,3,10,45,35,52,...,30,3,1,3,103,9,9,2,3,8

In [9]:
df_no_dedup

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
0,0,0,3,19,5,6,4,25,1,9,...,4,0,0,5,17,8,5,1,6,6
1,0,0,0,1,0,0,0,3,2,0,...,0,0,0,0,0,0,0,0,2,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,15,1,1,0,0,0,0,1,0,...,0,0,4,12,0,1,0,1,0,0
4,0,30,0,0,0,0,1,2,0,1,...,1,0,9,13,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16779,1,13,84,1077,34,108,38,51,37,26,...,11,103,63,3,1504,19,111,18,45,19
16780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16782,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16783,2,3,2,103,149,3,10,53,41,59,...,38,3,1,3,113,12,12,2,3,10

In [10]:
counts_dedup = df_dedup.to_numpy().sum()
counts_no_dedup = df_no_dedup.to_numpy().sum()
print(counts_dedup)
print(counts_no_dedup)

315440203
394959005

In [11]:
ratio = 1 - (counts_dedup / counts_no_dedup)

In [12]:
ratio

0.20133431822879944

In [6]:
import os

os.chdir("../../DeSeq/Tables")
print(os.listdir('.'))

['BCSAB75909_differential_expression.tsv', 'BCSAV72012_differential_expression.tsv', 'BCSBP58329_differential_expression.tsv', 'BCSCF51461_differential_expression.tsv', 'BCSCV70160_differential_expression.tsv', 'BCSDA45638_differential_expression.tsv', 'BCSDF55291_differential_expression.tsv', 'BCSDF55291dose_response_curves.tsv', 'BCSDJ81222_differential_expression.tsv', 'BCSDJ81222dose_response_curves.tsv', 'BCSDS36466_differential_expression.tsv', 'DoseResponses', 'corrected_count_matrix.csv', 'plate_matrix.csv', 'variance_stabilised_counts.csv']

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("corrected_count_matrix.csv")

In [9]:
df

,Unnamed: 0,LOC118273292,LOC118273263,LOC118273262,LOC118273264,LOC118273450,LOC118273633,LOC118273433,LOC118273533,LOC118273279,...,AOB78_gp09,AOB78_gp08,AOB78_gp07,AOB78_gp05,AOB78_gp03,AOB78_gp02,AOB78_gp01,AOB78_gr01,Treatments,Concentration
0,AACAAGGAACTACC_1,0.000000,0.000000,0.000000,0.000000,84.159556,38.254344,22.952606,7.650869,0.000000,...,443.750386,84.159556,15.301737,38.254344,0.000000,22.952606,7.650869,15.301737,BCSDF55291,42070.0
1,AACAGTTCCTCAAG_1,0.000000,4.313561,9.290747,0.995437,246.868431,45.126487,26.544993,3.318124,3.318124,...,11.613434,1.659062,0.000000,0.331812,0.995437,0.000000,4.313561,0.995437,BCSAV72012,62400.0
2,AACGGCAAGAGGCG_1,2.756007,0.918669,0.000000,0.918669,467.602491,22.966724,10.105358,4.593345,0.000000,...,72.574846,4.593345,3.674676,5.512014,6.430683,5.512014,71.656177,1.837338,BCSDA45638,42070.0
3,AAGCAGGAATGGAG_1,6.295237,0.393452,0.000000,0.000000,526.439161,3.147618,33.836897,20.459519,0.000000,...,459.552272,32.656540,5.508332,6.688689,5.901784,7.869046,401.321333,35.410706,BCSDS36466,59470.0
4,AAGCCAACAGTTGG_1,6.127290,0.000000,0.000000,0.000000,364.573777,7.659113,6.127290,18.381871,0.000000,...,612.729037,39.827387,10.722758,13.786403,26.040984,26.040984,47.486500,179.223243,BCSBP58329,48800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,TTAGACGCCGGTAA_1,5.772853,0.000000,0.481071,0.000000,334.344386,4.810711,32.712832,29.345335,0.000000,...,357.435797,26.939979,3.848568,14.913203,4.329640,8.178208,688.412686,49.550319,BCSDS36466,59470.0
80,TTCAAGCAGGTAGG_1,1.940807,0.000000,0.485202,0.485202,201.358707,26.200892,6.307622,2.426009,0.000000,...,21.834077,0.970403,0.970403,0.485202,4.852017,0.970403,49.490574,4.366815,BCSAB75909,42070.0
81,TTCTTGTGCGCCAC_1,1.034715,1.034715,0.000000,0.000000,117.957504,16.555439,10.347149,4.138860,0.000000,...,39.319168,2.069430,0.000000,3.104145,5.173575,1.034715,17.590154,2.069430,BCSAB75909,42070.0
82,TTGCCGAATTAGAG_1,2.396881,0.000000,0.479376,0.000000,125.117195,37.391346,11.984406,2.396881,0.000000,...,34.994465,4.314386,0.958752,8.149396,3.835010,0.958752,20.613178,1.438129,BCSBP58329,42070.0
83,TTGGTGAGAACCGC_1,1.905286,0.000000,0.000000,0.000000,228.158016,54.300655,15.242289,6.668502,0.000000,...,118.127741,10.002752,0.952643,6.668502,1.428965,3.810572,8.573788,3.810572,BCSAV72012,62400.0

In [10]:
df.groupby("Treatments")["Concentration"].value_counts()

Treatments  Concentration
BCSAB75909  42070.0          6
            54200.0          3
BCSAV72012  42070.0          6
            62400.0          3
BCSBP58329  42070.0          6
            48800.0          3
BCSCF51461  42070.0          6
            35400.0          3
BCSCV70160  42070.0          4
            15320.0          3
            153.2            2
BCSDA45638  42070.0          6
            57000.0          3
BCSDF55291  42070.0          6
            14360.0          3
BCSDJ81222  42070.0          6
            11280.0          3
BCSDS36466  42070.0          6
            59470.0          3
DMSO        153.2            1
            42070.0          1
            48800.0          1
Name: Concentration, dtype: int64

In [22]:
df = pd.read_csv("full_corrected_matrix_and_meta.csv")
df.groupby("Metadata_ Treatments")["Metadata_ Concentrations"].value_counts()

Metadata_ Treatments  Metadata_ Concentrations
BCSAB75909            153.2                       6
                      54200.0                     3
BCSAV72012            153.2                       6
                      62400.0                     3
BCSBM77526            153.2                       6
                      42070.0                     3
BCSBP58329            153.2                       6
                      48800.0                     3
BCSCF51461            153.2                       6
                      35400.0                     3
BCSCV70160            153.2                       6
                      15320.0                     3
BCSDA45638            153.2                       6
                      57000.0                     3
BCSDF55291            153.2                       6
                      14360.0                     3
BCSDJ81222            153.2                       6
                      11280.0                     3
BCSDS36466            153.2                       6
                      59470.0                     3
DMSO                  153.2                       2
                      15320.0                     1
Name: Metadata_ Concentrations, dtype: int64

In [ ]:
df = pd.read_table("BCSBM77526_differential_expression.tsv")